<header>
  <%= link_to logo, remembers_path %>
  <div class="title"><h1>You are here to store information</h1></div>
  <nav id="topRightMenu" class="horisontalMenu">
    <a class="hirosontalMenuItem"><%= link_to "Home", remembers_path %></a> | 
    <a class="hirosontalMenuItem"><%= link_to "Search", '#' %></a> | 
    <a class="hirosontalMenuItem"><%= link_to "Settings", '#' %></a> | 
  </nav>
  <div class="clear"></div>  
</header>